# --- Environments ---
mkds_venv/
.venv/
envs/
/logs/
/outputs/
logs/DQN_*/
rom/*.nds
# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
emu_documentation.txt
# --- IDEs ---
.vscode/
# --- RL Outputs ---
outputs/*.h5
outputs/*.png
outputs/*.json
emu_documentation.txt
